/* debut du header*/
li {
    display: inline-flex;
    margin-right: 10px;
}

i {
    margin-right: 10px;
}

.header-menu {
    display: inline-flex;
    align-items: center;
}


.header-icon {
    margin-left: 93%;
}

.header {
    max-width: 100%;
    padding: 10px;
    color: #89029e;
    font-family: Inter, sans-serif;
}

/* fin du header*/

section {
    background-color: #f0f0f0;
    font-family: Inter, sans-serif;
}

.banner-head {
    display: block;
}

.image-text-container {
    display: flex;
    align-items: center;
}

.img-banner {
    width: fit-content;
    height: 300px;
    border-radius: 10px;


}

button {
    width: 150px;
    height: 30px;
    border: 1px solid;
    color: #89029e;
    border-radius: 5px;
    font-size: 15px;
    font-family: Inter, sans-serif;
    font-style: oblique;

}

button:hover {
    background-color: #89029e;
    color: white;
}

button:active {
    background-color: #6b007c;
    color: white;

}

.text-content {
    margin-left: 20px;
    width: 600px;
}


/* debut des carte de musique*/
.card {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 2;
}

.card-1, .card-2, .card-3, .card-4, .card-5 {
    background-color: #fae2ff;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    flex-grow: 1.5;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}






